@{
    ViewData["Title"] = "Plan Trip";
}

        
<div class="jumbotron">
    <h3>Plan your Trip</h3>
    <!--User should be required to log in to use this function. Could possibly use DataGrid to store and display users itenerary list-->
</div>

