@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p>CS50 World Time uses your public IP address to determine your current time zone.</p>
    <p>Use of VPNs (Virtual Proxy Networks) may cause unexpected behavior with the time zone features.</p>
</div>